<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>To Do List</title>
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<body>
	<div class="header">To-Do List</div>
	<form action="/" method="post">

		<div class="list-item-container">

			<div class="list-item">
				<input type="checkbox" class="list-item__checkbox" id="list-item_1">
				<label for="list-item_1" class="list-item__label">Example: Add more list items</label>
			</div>

			<% for(i = 0; i < webListItems.length; i++) {	%>
				<div class="list-item">
					<input type="checkbox" class="list-item__checkbox" id="list-item_<%= i %>">
					<label for="list-item_<%= i %>" class="list-item__label"><%= webListItems[i] %></label>
				</div>
			<%}%>
			
			<div class="list-item__input">
				<input type="text" name="listItem" id="listItem" placeholder="Add an item to the list">
			</div>
		</div>
	</form>
</body>
</html>